# Merging datasets

- DataFrame.concat()

In [1]:
# Setup
import pandas as pd
import numpy as np

# Create some datasets
# arange gives a list of numbers, 0 to 15, reshape rehapes it to 4*4 matrix
# columns gives the column names
df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"))
print("df1:")
print(df1)

# zeros gives a matrix of zeris, (Nrows, Ncolumns)
df2 = pd.DataFrame(np.zeros((3,4)), columns=list("ABCD"))

print("\ndf2:")
print(df2)

df1:
    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

df2:
     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

## Concat

- Concatenates along a particular axis.

- Set logic.

In [13]:
# Concat needs dataframes in a list
print(pd.concat([df1,df2]))
# Dataframes are put after eachother
# df1 and df2 has same column names. So df2 is added along axis=0

# Row indeces are just concated after eachother.
# You can re-index or reset index to mitigate this.
# drop=True removes the OLD index column
print("")
print(pd.concat([df1,df2]).reset_index(drop=True))

# With axis=1:
print("")
print(pd.concat([df1,df2], axis="columns"))
# Here it adds NaN in a new row for df2 since df2 lacks one row to fit df1.

      A     B     C     D
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0
0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0

      A     B     C     D
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0
4   0.0   0.0   0.0   0.0
5   0.0   0.0   0.0   0.0
6   0.0   0.0   0.0   0.0

    A   B   C   D    A    B    C    D
0   0   1   2   3  0.0  0.0  0.0  0.0
1   4   5   6   7  0.0  0.0  0.0  0.0
2   8   9  10  11  0.0  0.0  0.0  0.0
3  12  13  14  15  NaN  NaN  NaN  NaN

In [17]:
# "join=" sets how the set-logic is handles.
pd.concat([df1,df2], axis="columns", join="inner")
# Above we had "outer", uses all data
# Here we have inner, it only uses what is common for both and drops the rest!

   A  B   C   D    A    B    C    D
0  0  1   2   3  0.0  0.0  0.0  0.0
1  4  5   6   7  0.0  0.0  0.0  0.0
2  8  9  10  11  0.0  0.0  0.0  0.0

## Merge

See "pandas merge join concat":

[https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html]

In [22]:
# From pandas documentation help examples

left = pd.DataFrame({
        "key": ["K0", "K0", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    })

right = pd.DataFrame({
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    })

print("left:")
print(left)
print("\nright:")
print(right)

left:
  key   A   B
0  K0  A0  B0
1  K0  A1  B1
2  K2  A2  B2
3  K3  A3  B3

right:
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [24]:
# We have two k0, we use "key", so C1 and D1 dissapears, instead it doubles c0 and d0
pd.merge(left, right, on="key", indicator=True)

  key   A   B   C   D _merge
0  K0  A0  B0  C0  D0   both
1  K0  A1  B1  C0  D0   both
2  K2  A2  B2  C2  D2   both
3  K3  A3  B3  C3  D3   both

In [25]:
# Change to setlogic = outer
pd.merge(left, right, on="key", how="outer", indicator=True)
# Adds a row with those that have a key that are common to

  key    A    B   C   D      _merge
0  K0   A0   B0  C0  D0        both
1  K0   A1   B1  C0  D0        both
2  K2   A2   B2  C2  D2        both
3  K3   A3   B3  C3  D3        both
4  K1  NaN  NaN  C1  D1  right_only

# Parse data from HTML

- Load data from a table on a homepage:

[https://en.wikipedia.org/wiki/List_of_potentially_habitable_exoplanets]

- pd.read_html()

Searches for tables on the page and adds to a list.

In [12]:
link = "https://en.wikipedia.org/wiki/List_of_potentially_habitable_exoplanets"
tables = pd.read_html(link)
len(tables)
# There are 7 tables
# Check each table
tables[0]
habplanets = tables[0]

In [13]:
habplanets

,Object,Star,Star type,Mass (M⊕),Radius (R⊕),Density (g/cm3),Flux (F⊕),Teq (K),Period (days),Distance (ly),Refs/Notes
0,Earth,Sun (Sol),G2V,1.00,1.00,5.514,1.00,255,365.2500,0.000,[3]
1,Teegarden's Star b,Teegarden's Star,M7V,≥1.05,—,NaN,1.15,264,4.9100,12.580,[4]
2,TOI 700 d,TOI 700,M2V,1.72,1.14,5.631,0.87,246,37.4000,101.000,NaN
3,K2-72e,K2-72,M?V,~2.21,1.29,5.675,1.11,261,24.2000,217.000,[5]
4,TRAPPIST-1d,TRAPPIST-1,M8V,0.30,0.78,3.39,1.04,258,4.0500,39.000,Confirmed to be rocky[6][7]
...,...,...,...,...,...,...,...,...,...,...,...
56,Gliese 357 d,Gliese 357,M2V,≥6.10,—,2.617,0.38,200,55.7000,31.000,NaN
57,Gliese 625 b,Gliese 625,M2V,2.82±0.51,NaN,NaN,NaN,NaN,14.6280,21.300,[30]
58,Kepler-26e,Kepler-26,K,NaN,2.1,NaN,NaN,NaN,46.8000,1104.000,[31][32]
59,Kepler-737b,Kepler-737,M,4.5,1.96,NaN,NaN,NaN,28.5992,669.000,Multiple HZ solutions
60,Luyten 98-59 f*,Luyten 98-59,M3V,2.46,NaN,NaN,>1,~280,23.1500,34.648,Unconfirmed[33]

In [16]:
# Another way to call a column.
habplanets.Object.unique()

array(['Earth', "Teegarden's Star b", 'TOI 700 d', 'K2-72e',
       'TRAPPIST-1d', 'Kepler-1649c', 'Proxima Centauri b',
       'Gliese 1061 d', 'Gliese 1061 c', 'Ross 128 b', 'Luyten b',
       'TRAPPIST-1e', 'Kepler-442b', 'Wolf 1061c', 'Gliese 667 Cc',
       'Kepler-1229b', 'TRAPPIST-1f', 'Kepler-62f', "Teegarden's Star c",
       'Kepler-186f', 'Tau Ceti f', 'TRAPPIST-1g', 'Kapteyn b',
       'Kepler-452b', 'Kepler-62e', 'Kepler-1652b', 'Kepler-1544 b',
       'Kepler-296e', 'Kepler-283c', 'K2-296b', 'Kepler-1410b',
       'Kepler-1638b', 'Kepler-296f', 'Kepler-440b', 'Kepler-705b',
       'Kepler-1653b', 'Gliese 832 c', 'Kepler-1606b', 'Kepler-1090b',
       'Kepler-61b', 'Kepler-443b', 'Kepler-1701b', 'Kepler-22b',
       'LHS 1140 b', 'Kepler-1552b', 'K2-9b', 'Kepler-1540b',
       'Gliese 180 c', 'Kepler-1632b', 'Kepler-298d', 'Gliese 163 c',
       'HD 40307 g', 'K2-288Bb', 'Gliese 3293 d', 'Gliese 229 Ac',
       'Kepler-174d', 'Gliese 357 d', 'Gliese 625 b', 'Kepler-26e',
       'Kepler-737b', 'Luyten 98-59 f*'], dtype=object)

### Another example, a page with more tables

Search for a specific table

In [21]:
link = "https://en.wikipedia.org/wiki/FIFA_World_Cup"
fifa_tables = pd.read_html(link, match="Hosts")
#fifa_tables # Seems the first is the correct
fifa_table = fifa_tables[0]
fifa_table.head()

   Year        Hosts Venues/Cities Totalattendance Matches Avg.attendance  \
   Year        Hosts Venues/Cities Totalattendance Matches Avg.attendance
0  1930      Uruguay           3/1          590549      18          32808
1  1934        Italy           8/8          363000      17          21353
2  1938       France          10/9          375700      18          20872
3  1950       Brazil           6/6         1045246      22          47511
4  1954  Switzerland           6/6          768607      26          29562

  Highest attendances †                                    \
                 Number                             Venue
0                 93000    Estadio Centenario, Montevideo
1                 55000        Stadio Nazionale PNF, Rome
2                 58455      Olympique de Colombes, Paris
3           173,850[82]  Maracanã Stadium, Rio de Janeiro
4                 63000            Wankdorf Stadium, Bern


                              Game(s)
0  Uruguay 6–1 Yugoslavia, Semi-final
1     Italy 2–1 Czechoslovakia, Final
2     France 1–3 Italy, Quarter-final
3  Brazil 1–2 Uruguay, Deciding match
4     West Germany 3–2 Hungary, Final